* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}
body {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     min-height: 100vh;
}
.content {
     opacity: 0;
     visibility: hidden;
     transform: translateY(-50px);
     transition: 0.25s linear;
}
.open {
     opacity: 1;
     visibility: visible;
     transform: translateY(0);
}
.overlay {
     display: none;
}
