@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
body.error-state {
     background-color: #f7f7f7;
}

.error-page {
     text-align: center;
     margin-top: 10vh;
     padding: 20px;
     background-color: #fff;
     border-radius: 8px;
     box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
     max-width: 500px;
     margin-left: auto;
     margin-right: auto;
}

.error-page img {
     width: 80%;
     max-width: 300px;
     margin-bottom: 20px;
}

.error-page h2 {
     color: #333;
     font-size: 24px;
     margin-bottom: 16px;
}

.error-page p {
     color: #666;
     font-size: 16px;
     line-height: 1.5;
}
